@import url('https://fonts.googleapis.com/css?family=Kanit:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap'); 
@font-face { 
  font-family:Kanit, Serif;
} 
@media (min-width: 800px){     
  body {  
    font-size:12pt;
    font-family:Kanit, Serif;
    letter-spacing:0.6px;
    color:#1D1D1D;
  }  
}  
@media (min-width: 800px){ 
  body { 
    margin: 0px; 
    padding: 0px; 
    font-size: 12pt; 
    font-family: Kanit, Serif; 
    width: 100%; 
    letter-spacing: 0.6px;
  } 

  body { 
    background-color: #FAFAFA; 
    color: #1D1D1D; 
    padding-top: 50px;
  } 

  html { 
    margin: 0px; 
    padding: 0px; 
    font-size: 12pt; 
    font-family: Kanit, Serif; 
    width: 100%; 
    letter-spacing: 0.6px;
  } 

  #hea-qp3 { 
    background-color: #fff; 
    margin: 0px; 
    position: fixed; 
    top: 0px; 
    height: 50px; 
    width: 100%; 
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6); 
    text-align: center; 
    z-index: 9000;
  } 

  #hea-qp3 #mai-2jb  { 
    padding: 7px; 
    width: 200px; 
    display: inline-block; 
    margin-left: 40px; 
    position: absolute; 
    left: 2px;
  } 

  #mai-37y { 
    display: inline-block; 
    vertical-align: top;
  } 

  #hea-qp3 .soc-doj  { 
    display: inline-block; 
    position: absolute; 
    right: 0;
  } 

  a { 
    text-decoration: none; 
    color: #1286D4; 
    cursor: pointer; 
    font-weight: 600;
  } 

  a:hover { 
    color: #1D1D1D;
  } 

  #mai-37y ul  { 
    display: inline-block; 
    list-style: none; 
    padding: 0px; 
    margin: 0px; 
    z-index: 3000;
  } 

  #hea-qp3 #mai-2jb img  { 
    height: 36px;
  } 

  #mai-37y ul li  { 
    display: inline-block; 
    position: relative;
  } 

  #hea-qp3 .soc-doj img  { 
    height: 24px; 
    margin: 12px 16px;
  } 

  #mai-37y ul li a  { 
    padding: 0 20px; 
    display: block; 
    cursor: pointer; 
    color: #1D1D1D; 
    height: 50px; 
    line-height: 50px; 
    font-family: Kanit, Serif; 
    font-size: 12pt; 
    font-weight: 600;
  } 

   #mai-37y ul li a:hover { 
    color: #FF6F00;
  } 

  #mai-37y ul li span:hover, #mai-37y ul li a:hover { 
    color: #FF6F00;
  } 
}     
@import url('https://fonts.googleapis.com/css?family=Kanit:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap'); 
@font-face { 
  font-family:Kanit, Serif;
} 
@media (min-width: 800px){     
  body {  
    font-size:12pt;
    font-family:Kanit, Serif;
    letter-spacing:0.6px;
    color:#1D1D1D;
  }  
}  
@media (min-width: 800px){ 
  body { 
    margin: 0px; 
    padding: 0px; 
    font-size: 12pt; 
    font-family: Kanit, Serif; 
    width: 100%; 
    letter-spacing: 0.6px;
  } 

  body { 
    background-color: #FAFAFA; 
    color: #1D1D1D; 
    padding-top: 50px;
  } 

  html { 
    margin: 0px; 
    padding: 0px; 
    font-size: 12pt; 
    font-family: Kanit, Serif; 
    width: 100%; 
    letter-spacing: 0.6px;
  } 

  .panel-yqt { 
    position: fixed; 
    left: 0px; 
    top: 50px; 
    z-index: 1000; 
    width: 20%; 
    height: 100%; 
    padding: 0; 
    background: #FAFAFA; 
    border-right: 1px solid rgba(150, 150, 150, 0.3); 
    overflow-y: scroll;
  } 

  .menu-rer { 
    list-style: none; 
    margin: 0; 
    padding: 0;
  } 

  .panel-yqt ul  { 
    margin-bottom: 80px;
  } 

  .menu-rer li  { 
    padding: 0; 
    margin: 0;
  } 

  a { 
    text-decoration: none; 
    color: #1286D4; 
    cursor: pointer; 
    font-weight: 600;
  } 

  .menu-rer li a  { 
    padding: 10px; 
    display: block; 
    line-height: 1.8em; 
    border-bottom: 1px solid rgba(150, 150, 150, 0.3);
  } 

  .panel-yqt ul li a  { 
    color: #1D1D1D; 
    transition: background-color 0.8s, color 0.5s;
  } 

  a:hover { 
    color: #1D1D1D;
  } 

  .panel-yqt ul li a:hover { 
    background-color: #f0f0f0; 
    color: #DE2A15;
  } 

  ul  { 
    display: inline-block; 
    list-style: none; 
    padding: 0px; 
    margin: 0px; 
    z-index: 3000;
  } 

  ul li  { 
    display: inline-block; 
    position: relative;
  } 
}     

@import url('https://fonts.googleapis.com/css?family=Kanit:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap'); 
@font-face { 
  font-family:Kanit, Serif;
} 
@media (min-width: 800px){     
  body {  
    font-size:12pt;
    font-family:Kanit, Serif;
    letter-spacing:0.6px;
    color:#1D1D1D;
  }  
}  
@media (min-width: 800px){ 
  body { 
    margin: 0px; 
    padding: 0px; 
    font-size: 12pt; 
    font-family: Kanit, Serif; 
    width: 100%; 
    letter-spacing: 0.6px;
  } 

  body { 
    background-color: #FAFAFA; 
    color: #1D1D1D; 
    padding-top: 50px;
  } 

  html { 
    margin: 0px; 
    padding: 0px; 
    font-size: 12pt; 
    font-family: Kanit, Serif; 
    width: 100%; 
    letter-spacing: 0.6px;
  } 

  .sec-94x { 
    width: 100%; 
    background: #FAFAFA; 
    color: #1D1D1D; 
    position: relative;
  } 

  .menu-bx9 { 
    width: 80% !important; 
    margin-left: 20%;
  } 

  .con-gxl { 
    min-width: 800px; 
    width: 90%; 
    margin: 0 auto;
  } 

  .esp-sob { 
    display: block; 
    height: 40px; 
    background: #FAFAFA;
  } 

  .grid-oax { 
    display: table; 
    margin: 0 auto;
  } 

  .column-s7w { 
    display: table-cell; 
    vertical-align: top; 
    position: relative;
  } 

  .art-21n { 
    margin: 10px 10px 0 0;
  } 

  h1 { 
    font-weight: 300; 
    font-family: Kanit, Serif; 
    letter-spacing: 1px;
  } 

  h1 { 
    font-size: 24pt; 
    line-height: 50pt; 
    margin: 0;
  } 

  .cen-f4p { 
    text-align: center;
  } 

  .art-21n h1  { 
    font-size: 30pt; 
    margin-bottom: 10px; 
    width: 100%; 
    line-height: 32pt;
  } 

  .fec-wo9 { 
    border-top-width: 2px; 
    border-top-style: solid; 
    border-top-color: #1D1D1D; 
    padding-top: 6px; 
    padding-bottom: 40px; 
    font-size: 80%;
  } 

  .art-21n p  { 
    line-height: 18pt;
  } 

  .aco-5vd { 
    list-style: none; 
    padding: 0; 
    background: rgba(0, 0, 0, 0.1);
  } 

  .aco-5vd p  { 
    background: #3c3c3c; 
    border-bottom: 1px solid rgba(150, 150, 150, 0.3); 
    color: #FAFAFA; 
    line-height: 40pt !important; 
    padding: 0 20px; 
    cursor: pointer; 
    font-weight: 600; 
    margin: 0; 
    transition: background 0.6s; 
    position: relative;
  } 

  .aco-5vd ul  { 
    display: none; 
    list-style: none; 
    padding: 0; 
    margin: 1px 0px 1px 20px; 
    background: rgba(0, 0, 0, 0.1);
  } 

  .aco-5vd p span  { 
    position: absolute; 
    color: #FAFAFA; 
    right: 10px; 
    font-size: 18pt;
  } 

  .column-s7w table  { 
    width: 100%; 
    margin: 6px 0 6px 0; 
    border-collapse: collapse; 
    border-spacing: 0;
  } 

  .column-s7w table td  { 
    vertical-align: top;
  } 

  a { 
    text-decoration: none; 
    color: #1286D4; 
    cursor: pointer; 
    font-weight: 600;
  } 

  .aco-5vd a  { 
    line-height: 40px; 
    padding: 0 40px; 
    display: block; 
    background: #ffffff; 
    position: relative; 
    transition: background 0.6s; 
    border-bottom: 1px solid rgba(150, 150, 150, 0.3); 
    border-right: 1px solid rgba(150, 150, 150, 0.3);
  } 

  a:hover { 
    color: #1D1D1D;
  } 

  .aco-5vd a:hover { 
    background: #f0f0f0; 
    color: #1D1D1D;
  } 

  .column-s7w h3  { 
    font-family: Kanit, Serif; 
    font-size: 1.6em; 
    font-weight: 100; 
    margin: 0; 
    line-height: 50pt;
  } 
}     


/* These were inline style tags. Uses id+class to override almost everything */
#bg_-wh6.style-gpj7a {  
   position:fixed;  
   top:0px;  
    height:0px;  
    display:none;  
}  
#style-aL2Hl.style-aL2Hl {  
   width: 100%;  
}  
#style-9sWKM.style-9sWKM {  
   display: inline;  
    padding: 0px;  
}  
#style-ghGia.style-ghGia {  
   display: inline;  
    padding: 0px;  
}  
#style-9OPA9.style-9OPA9 {  
   display: inline;  
    padding: 0px;  
}  
#style-ZUfOG.style-ZUfOG {  
   width: 100%;  
}  


@import url('https://fonts.googleapis.com/css?family=Kanit:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap'); 
@font-face { 
  font-family:Kanit, Serif;
} 
@media (min-width: 800px){     
  body {  
    font-size:12pt;
    font-family:Kanit, Serif;
    letter-spacing:0.6px;
    color:#1D1D1D;
  }  
}  
@media (min-width: 800px){ 
  body { 
    margin: 0px; 
    padding: 0px; 
    font-size: 12pt; 
    font-family: Kanit, Serif; 
    width: 100%; 
    letter-spacing: 0.6px;
  } 

  body { 
    background-color: #FAFAFA; 
    color: #1D1D1D; 
    padding-top: 50px;
  } 

  html { 
    margin: 0px; 
    padding: 0px; 
    font-size: 12pt; 
    font-family: Kanit, Serif; 
    width: 100%; 
    letter-spacing: 0.6px;
  } 

  .menu-2gc { 
    width: 80% !important; 
    margin-left: 20%;
  } 

  .con-w5s { 
    min-width: 800px; 
    width: 90%; 
    margin: 0 auto;
  } 

  .sec-x1n { 
    width: 100%; 
    background: #1D1D1D; 
    color: #FAFAFA; 
    position: relative;
  } 

  .esp-mwd { 
    display: block; 
    height: 40px; 
    background: #FAFAFA;
  } 

  .esp-mwd  { 
    background: #1D1D1D;
  } 

  .grid-y3p { 
    display: table; 
    margin: 0 auto;
  } 

  .column-nx2 { 
    display: table-cell; 
    vertical-align: top; 
    position: relative;
  } 

  .art-bj8 { 
    margin: 10px 10px 0 0;
  } 

  .big-6tf { 
    padding: 0px 20px 30px 20px;
  } 

  h1 { 
    font-weight: 300; 
    font-family: Kanit, Serif; 
    letter-spacing: 1px;
  } 

  h1 { 
    font-size: 24pt; 
    line-height: 50pt; 
    margin: 0;
  } 

  .cen-nr8 { 
    text-align: center;
  } 

  .art-bj8 h1  { 
    font-size: 30pt; 
    margin-bottom: 10px; 
    width: 100%; 
    line-height: 32pt;
  } 

  .fec-n4n { 
    border-top-width: 2px; 
    border-top-style: solid; 
    border-top-color: #1D1D1D; 
    padding-top: 6px; 
    padding-bottom: 40px; 
    font-size: 80%;
  } 

  .art-bj8 p  { 
    line-height: 18pt;
  } 

  .table-z8r { 
    border: 1px solid rgba(150, 150, 150, 0.3);
  } 

  .column-nx2 table  { 
    width: 100%; 
    margin: 6px 0 6px 0; 
    border-collapse: collapse; 
    border-spacing: 0;
  } 

  .fec-n4n  { 
    border-color: #FAFAFA;
  } 

  .gal-dva { 
    text-align: center; 
    position: relative; 
    width: 100%;
  } 

  .gal-dva div  { 
    background: #000000; 
    cursor: pointer; 
    display: inline-block; 
    margin: 3px; 
    position: relative;
  } 

  .table-z8r td  { 
    padding: 10px; 
    border: 1px solid rgba(150, 150, 150, 0.3); 
    position: relative;
  } 

  .column-nx2 table td  { 
    vertical-align: top;
  } 

  p  { 
    background: #3c3c3c; 
    border-bottom: 1px solid rgba(150, 150, 150, 0.3); 
    color: #FAFAFA; 
    line-height: 40pt !important; 
    padding: 0 20px; 
    cursor: pointer; 
    font-weight: 600; 
    margin: 0; 
    transition: background 0.6s; 
    position: relative;
  } 

  p span  { 
    position: absolute; 
    color: #FAFAFA; 
    right: 10px; 
    font-size: 18pt;
  } 

  a { 
    text-decoration: none; 
    color: #1286D4; 
    cursor: pointer; 
    font-weight: 600;
  } 

  a:hover { 
    color: #1D1D1D;
  } 

  .sec-x1n a:hover { 
    color: #ffffff;
  } 
}     


/* These were inline style tags. Uses id+class to override almost everything */
#bg_-jl8.style-eRITg {  
   position: fixed;  
    top: 40px;  
    left: 0px;  
    width: 100%;  
    height: 100%;  
    z-index: -100;  
    background-color: rgb(0, 0, 0);  
    background-image: url("/media/63/images/bg.jpg");  
    background-repeat: no-repeat;  
    background-size: 100%;  
}  
#style-rrTwc.style-rrTwc {  
   margin-top:30%;  
}  
#gri-bwh.style-aMxED {  
   width:100%;  
    margin:0 auto;  
}  
#style-QHMtf.style-QHMtf {  
   font-size:18px;  
}  
#style-AB7b9.style-AB7b9 {  
   width:96px;  
    height:220px;  
    overflow:hidden;  
}  
#style-g91Lk.style-g91Lk {  
   width:100%;  
}  


@import url('https://fonts.googleapis.com/css?family=Kanit:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap'); 
@font-face { 
  font-family:Kanit, Serif;
} 
@media (min-width: 800px){     
  body {  
    font-size:12pt;
    font-family:Kanit, Serif;
    letter-spacing:0.6px;
    color:#1D1D1D;
  }  
}  
@media (min-width: 800px){ 
  body { 
    margin: 0px; 
    padding: 0px; 
    font-size: 12pt; 
    font-family: Kanit, Serif; 
    width: 100%; 
    letter-spacing: 0.6px;
  } 

  body { 
    background-color: #FAFAFA; 
    color: #1D1D1D; 
    padding-top: 50px;
  } 

  html { 
    margin: 0px; 
    padding: 0px; 
    font-size: 12pt; 
    font-family: Kanit, Serif; 
    width: 100%; 
    letter-spacing: 0.6px;
  } 

  .sec-cck { 
    width: 100%; 
    background: #FAFAFA; 
    color: #1D1D1D; 
    position: relative;
  } 

  .menu-hop { 
    width: 80% !important; 
    margin-left: 20%;
  } 

  .con-to9 { 
    min-width: 800px; 
    width: 90%; 
    margin: 0 auto;
  } 

  .esp-i44 { 
    display: block; 
    height: 40px; 
    background: #FAFAFA;
  } 

  .grid-zqr { 
    display: table; 
    margin: 0 auto;
  } 

  .column-3xt { 
    display: table-cell; 
    vertical-align: top; 
    position: relative;
  } 

  .art-aka { 
    margin: 10px 10px 0 0;
  } 

  h1 { 
    font-weight: 300; 
    font-family: Kanit, Serif; 
    letter-spacing: 1px;
  } 

  h1 { 
    font-size: 24pt; 
    line-height: 50pt; 
    margin: 0;
  } 

  .cen-3x8 { 
    text-align: center;
  } 

  .art-aka h1  { 
    font-size: 30pt; 
    margin-bottom: 10px; 
    width: 100%; 
    line-height: 32pt;
  } 

  .fec-i11 { 
    border-top-width: 2px; 
    border-top-style: solid; 
    border-top-color: #1D1D1D; 
    padding-top: 6px; 
    padding-bottom: 40px; 
    font-size: 80%;
  } 

  .art-aka p  { 
    line-height: 18pt;
  } 
}     


/* These were inline style tags. Uses id+class to override almost everything */
#bg_-ogt.style-6Ag8B {  
   position: fixed;  
    top: 0px;  
    height: 0px;  
}  
#style-1KISN.style-1KISN {  
   text-align: justify;  
}  
#style-xnR7K.style-xnR7K {  
   text-align: justify;  
}  
#style-D9kkY.style-D9kkY {  
   text-align: justify;  
}  
#style-JF9mG.style-JF9mG {  
   text-align: justify;  
}  
#style-4WxFk.style-4WxFk {  
   text-align: justify;  
}  
#style-DhTWV.style-DhTWV {  
   text-align: justify;  
}  
#style-FXzrs.style-FXzrs {  
   text-align: justify;  
}  
#style-msVXp.style-msVXp {  
   text-align: justify;  
}  
#style-gOMmm.style-gOMmm {  
   margin-left:-18.0pt;  
}  
#style-HxUyO.style-HxUyO {  
   text-align: justify;  
}  
#style-Wvimq.style-Wvimq {  
   text-align: justify;  
}  
#style-HqBHH.style-HqBHH {  
   text-align: justify;  
}  
#style-b9skx.style-b9skx {  
   text-align: justify;  
}  
#style-q6qkS.style-q6qkS {  
   text-align: justify;  
}  
#style-BjioD.style-BjioD {  
   text-align: justify;  
}  
#style-5w2qF.style-5w2qF {  
   text-align: justify;  
}  
#style-8syVp.style-8syVp {  
   text-align: justify;  
}  


@import url('https://fonts.googleapis.com/css?family=Kanit:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap'); 
@font-face { 
  font-family:Kanit, Serif;
} 
@media (min-width: 800px){     
  body {  
    font-size:12pt;
    font-family:Kanit, Serif;
    letter-spacing:0.6px;
    color:#1D1D1D;
  }  
}  
@media (min-width: 800px){ 
  body { 
    margin: 0px; 
    padding: 0px; 
    font-size: 12pt; 
    font-family: Kanit, Serif; 
    width: 100%; 
    letter-spacing: 0.6px;
  } 

  body { 
    background-color: #FAFAFA; 
    color: #1D1D1D; 
    padding-top: 50px;
  } 

  html { 
    margin: 0px; 
    padding: 0px; 
    font-size: 12pt; 
    font-family: Kanit, Serif; 
    width: 100%; 
    letter-spacing: 0.6px;
  } 

  .menu-joz { 
    width: 80% !important; 
    margin-left: 20%;
  } 

  .con-y94 { 
    min-width: 800px; 
    width: 90%; 
    margin: 0 auto;
  } 

  .sec-qtj { 
    width: 100%; 
    background: #1D1D1D; 
    color: #FAFAFA; 
    position: relative;
  } 

  .esp-x2c { 
    display: block; 
    height: 40px; 
    background: #FAFAFA;
  } 

  .esp-x2c  { 
    background: #1D1D1D;
  } 

  .grid-cos { 
    display: table; 
    margin: 0 auto;
  } 

  .column-88d { 
    display: table-cell; 
    vertical-align: top; 
    position: relative;
  } 

  .art-hmj { 
    margin: 10px 10px 0 0;
  } 

  h1 { 
    font-weight: 300; 
    font-family: Kanit, Serif; 
    letter-spacing: 1px;
  } 

  h1 { 
    font-size: 24pt; 
    line-height: 50pt; 
    margin: 0;
  } 

  .cen-5jt { 
    text-align: center;
  } 

  .art-hmj h1  { 
    font-size: 30pt; 
    margin-bottom: 10px; 
    width: 100%; 
    line-height: 32pt;
  } 

  .fec-gfz { 
    border-top-width: 2px; 
    border-top-style: solid; 
    border-top-color: #1D1D1D; 
    padding-top: 6px; 
    padding-bottom: 40px; 
    font-size: 80%;
  } 

  .art-hmj p  { 
    line-height: 18pt;
  } 

  .aco-6ll { 
    list-style: none; 
    padding: 0; 
    background: rgba(0, 0, 0, 0.1);
  } 

  .aco-6ll p  { 
    background: #3c3c3c; 
    border-bottom: 1px solid rgba(150, 150, 150, 0.3); 
    color: #FAFAFA; 
    line-height: 40pt !important; 
    padding: 0 20px; 
    cursor: pointer; 
    font-weight: 600; 
    margin: 0; 
    transition: background 0.6s; 
    position: relative;
  } 

  .aco-6ll ul  { 
    display: none; 
    list-style: none; 
    padding: 0; 
    margin: 1px 0px 1px 20px; 
    background: rgba(0, 0, 0, 0.1);
  } 

  .aco-6ll p span  { 
    position: absolute; 
    color: #FAFAFA; 
    right: 10px; 
    font-size: 18pt;
  } 

  .column-88d table  { 
    width: 100%; 
    margin: 6px 0 6px 0; 
    border-collapse: collapse; 
    border-spacing: 0;
  } 

  td  { 
    padding: 10px; 
    border: 1px solid rgba(150, 150, 150, 0.3); 
    position: relative;
  } 

  .column-88d table td  { 
    vertical-align: top;
  } 

  a { 
    text-decoration: none; 
    color: #1286D4; 
    cursor: pointer; 
    font-weight: 600;
  } 

  .aco-6ll a  { 
    line-height: 40px; 
    padding: 0 40px; 
    display: block; 
    background: #ffffff; 
    position: relative; 
    transition: background 0.6s; 
    border-bottom: 1px solid rgba(150, 150, 150, 0.3); 
    border-right: 1px solid rgba(150, 150, 150, 0.3);
  } 

  a:hover { 
    color: #1D1D1D;
  } 

  .sec-qtj a:hover { 
    color: #ffffff;
  } 

  .aco-6ll a:hover { 
    background: #f0f0f0; 
    color: #1D1D1D;
  } 
}     


/* These were inline style tags. Uses id+class to override almost everything */
#bg_-fwb.style-VIBlf {  
   position: fixed;  
    top: 0px;  
    height: 0px;  
}  
#acu-dy2.style-oqr3l {  
   display: none;  
}  
#acu-j7y.style-nYW7I {  
   display: none;  
}  
#style-vWHBt.style-vWHBt {  
   display: inline;  
    padding: 0px;  
}  
#style-KwczG.style-KwczG {  
   width: 100%;  
}  
#style-6hxdh.style-6hxdh {  
   width: 100%;  
}  
#style-MeNBy.style-MeNBy {  
   width: 100%;  
}  
#style-5e5Yl.style-5e5Yl {  
   width:95px;  
}  
#style-Baj6q.style-Baj6q {  
   width:135px;  
}  
#style-VroYA.style-VroYA {  
   width:436px;  
}  
#style-al4c1.style-al4c1 {  
   width:95px;  
}  
#style-B2IY3.style-B2IY3 {  
   width:135px;  
}  
#style-xdSaD.style-xdSaD {  
   width:436px;  
}  
#style-D6lCq.style-D6lCq {  
   width:95px;  
}  
#style-NH9XB.style-NH9XB {  
   width:135px;  
}  
#style-GC7TP.style-GC7TP {  
   width:436px;  
}  
#style-4AIe8.style-4AIe8 {  
   width:95px;  
}  
#style-5WCUs.style-5WCUs {  
   width:135px;  
}  
#style-E8Zjt.style-E8Zjt {  
   width:436px;  
}  
#style-7INqn.style-7INqn {  
   width:95px;  
}  
#style-1e914.style-1e914 {  
   width:135px;  
}  
#style-KZSxX.style-KZSxX {  
   width:436px;  
}  
#style-7tnnD.style-7tnnD {  
   display: inline;  
    padding: 0px;  
}  
#style-n6f47.style-n6f47 {  
   width:95px;  
}  
#style-vMqMY.style-vMqMY {  
   width:135px;  
}  
#style-N1lFD.style-N1lFD {  
   width:436px;  
}  
#style-bhINN.style-bhINN {  
   display: inline;  
    padding: 0px;  
}  
#style-nfc9B.style-nfc9B {  
   width:95px;  
}  
#style-cecwT.style-cecwT {  
   width:135px;  
}  
#style-dFGby.style-dFGby {  
   width:436px;  
}  
#style-ZIGWk.style-ZIGWk {  
   width:95px;  
}  
#style-Xfe7H.style-Xfe7H {  
   width:135px;  
}  
#style-Ajism.style-Ajism {  
   width:436px;  
}  
#style-D5WCf.style-D5WCf {  
   width:95px;  
}  
#style-rhCee.style-rhCee {  
   width:135px;  
}  
#style-YKesI.style-YKesI {  
   width:436px;  
}  
#style-NSSIk.style-NSSIk {  
   width:95px;  
}  
#style-JAVAp.style-JAVAp {  
   width:135px;  
}  
#style-sZZ9d.style-sZZ9d {  
   width:436px;  
}  
#style-1yJLX.style-1yJLX {  
   width:95px;  
}  
#style-LES9R.style-LES9R {  
   width:135px;  
}  
#style-6g5aC.style-6g5aC {  
   width:436px;  
}  
#style-LgBSr.style-LgBSr {  
   width:95px;  
}  
#style-aEYFo.style-aEYFo {  
   width:135px;  
}  
#style-2koQI.style-2koQI {  
   width:436px;  
}  
#style-dUKBS.style-dUKBS {  
   width:95px;  
}  
#style-3y3P9.style-3y3P9 {  
   width:135px;  
}  
#style-XBIVH.style-XBIVH {  
   width:436px;  
}  
#style-zkV2v.style-zkV2v {  
   width:95px;  
   height:49px;  
}  
#style-cieNo.style-cieNo {  
   width:135px;  
   height:49px;  
}  
#style-vFQkn.style-vFQkn {  
   width:436px;  
   height:49px;  
}  
#style-sp9pZ.style-sp9pZ {  
   width:95px;  
   height:49px;  
}  
#style-tdwkW.style-tdwkW {  
   width:135px;  
   height:49px;  
}  
#style-xAgJw.style-xAgJw {  
   width:436px;  
   height:49px;  
}  
#style-QNsas.style-QNsas {  
   width:95px;  
}  
#style-Phxiy.style-Phxiy {  
   width:135px;  
}  
#style-tCVYZ.style-tCVYZ {  
   width:436px;  
}  
#style-NyQ4g.style-NyQ4g {  
   width:95px;  
}  
#style-ePJvG.style-ePJvG {  
   width:135px;  
}  
#style-MygxR.style-MygxR {  
   width:436px;  
}  
#style-DX6h5.style-DX6h5 {  
   width:95px;  
}  
#style-QFsPc.style-QFsPc {  
   width:135px;  
}  
#style-kgkSw.style-kgkSw {  
   width:436px;  
}  
#style-ojo5Z.style-ojo5Z {  
   width:95px;  
}  
#style-v8ylh.style-v8ylh {  
   width:135px;  
}  
#style-oaVzd.style-oaVzd {  
   width:436px;  
}  
#style-b76mt.style-b76mt {  
   width:95px;  
}  
#style-1ADgk.style-1ADgk {  
   width:135px;  
}  
#style-vwAZT.style-vwAZT {  
   width:436px;  
}  
#style-g4oSk.style-g4oSk {  
   width:95px;  
}  
#style-SFRbO.style-SFRbO {  
   width:135px;  
}  
#style-7AYkX.style-7AYkX {  
   width:436px;  
}  
#style-UjH1P.style-UjH1P {  
   width:95px;  
}  
#style-DpHAF.style-DpHAF {  
   width:135px;  
}  
#style-wMJyl.style-wMJyl {  
   width:436px;  
}  
#style-zfvoo.style-zfvoo {  
   width:95px;  
}  
#style-viyrf.style-viyrf {  
   width:135px;  
}  
#style-UTR1e.style-UTR1e {  
   width:436px;  
}  
#style-lrxgP.style-lrxgP {  
   width:95px;  
}  
#style-O7oof.style-O7oof {  
   width:135px;  
}  
#style-SMUql.style-SMUql {  
   width:436px;  
}  
#style-XT28V.style-XT28V {  
   width:95px;  
}  
#style-hwwL8.style-hwwL8 {  
   width:135px;  
}  
#style-VLV1U.style-VLV1U {  
   width:436px;  
}  
#style-6KdY8.style-6KdY8 {  
   width:95px;  
}  
#style-Tte9d.style-Tte9d {  
   width:135px;  
}  
#style-yOA9J.style-yOA9J {  
   width:436px;  
}  
#style-X5I9j.style-X5I9j {  
   width:95px;  
}  
#style-gxT67.style-gxT67 {  
   width:135px;  
}  
#style-kAToX.style-kAToX {  
   width:436px;  
}  
#style-F9OVR.style-F9OVR {  
   width:95px;  
}  
#style-p7fta.style-p7fta {  
   width:135px;  
}  
#style-28ozN.style-28ozN {  
   width:436px;  
}  
#style-X1R8q.style-X1R8q {  
   width:95px;  
}  
#style-3svGR.style-3svGR {  
   width:135px;  
}  
#style-HZSFI.style-HZSFI {  
   width:436px;  
}  
#style-G2yXw.style-G2yXw {  
   width:95px;  
}  
#style-QoFZ3.style-QoFZ3 {  
   width:135px;  
}  
#style-de1nD.style-de1nD {  
   width:436px;  
}  
#style-a7fY2.style-a7fY2 {  
   width:95px;  
}  
#style-Cw6Vy.style-Cw6Vy {  
   width:135px;  
}  
#style-BsbZt.style-BsbZt {  
   width:436px;  
}  
#style-o6lkt.style-o6lkt {  
   width:95px;  
}  
#style-Mpprg.style-Mpprg {  
   width:135px;  
}  
#style-BHXi2.style-BHXi2 {  
   width:436px;  
}  


@import url('https://fonts.googleapis.com/css?family=Kanit:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap'); 
@font-face { 
  font-family:Kanit, Serif;
} 
@media (min-width: 800px){     
  body {  
    font-size:12pt;
    font-family:Kanit, Serif;
    letter-spacing:0.6px;
    color:#1D1D1D;
  }  
}  
@media (min-width: 800px){ 
  body { 
    margin: 0px; 
    padding: 0px; 
    font-size: 12pt; 
    font-family: Kanit, Serif; 
    width: 100%; 
    letter-spacing: 0.6px;
  } 

  body { 
    background-color: #FAFAFA; 
    color: #1D1D1D; 
    padding-top: 50px;
  } 

  html { 
    margin: 0px; 
    padding: 0px; 
    font-size: 12pt; 
    font-family: Kanit, Serif; 
    width: 100%; 
    letter-spacing: 0.6px;
  } 

  footer { 
    display: block; 
    clear: both; 
    border-top: 1px solid #1D1D1D; 
    padding-top: 10px; 
    background: #FAFAFA;
  } 

  #bla-rez { 
    background: radial-gradient(farthest-side at 0% 0%, #37505A, #000); 
    height: 100%; 
    width: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 9500; 
    display: none; 
    text-align: center;
  } 

  .con-zs4 { 
    min-width: 800px; 
    width: 90%; 
    margin: 0 auto;
  } 

  #whi-aq5 { 
    padding: 10px; 
    background: #ffffff; 
    margin: 40px auto; 
    height: 0px; 
    width: 30px; 
    position: relative; 
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.6);
  } 

  #box-2nd { 
    width: 140px; 
    height: 0px; 
    background: #FAFAFA; 
    position: absolute; 
    bottom: 0px; 
    color: #1D1D1D; 
    font-family: Kanit, Serif; 
    font-size: 1.6em; 
    text-align: center; 
    line-height: 60px; 
    cursor: pointer;
  } 

  .grid-kco { 
    display: table; 
    margin: 0 auto;
  } 

  #ima-onv { 
    width: 20px; 
    height: 20px; 
    display: none;
  } 

  #des-vjw { 
    position: absolute; 
    bottom: 10px; 
    left: 10px; 
    color: #1D1D1D; 
    width: 0px; 
    overflow-x: hidden; 
    overflow-y: hidden; 
    text-align: center; 
    height: 0px;
  } 

  .column-37o { 
    display: table-cell; 
    vertical-align: top; 
    position: relative;
  } 

  h2 { 
    font-size: 16pt; 
    font-weight: 600;
  } 

  #des-vjw h2  { 
    margin-left: 10px; 
    margin: 2px 0px;
  } 

  #des-vjw p  { 
    margin-left: 10px; 
    font-size: 0.8em;
  } 

  .cen-mss { 
    text-align: center;
  } 

  .button-d7a { 
    padding: 20px 40px; 
    border: 1px solid #eaeaea; 
    border-radius: 2px; 
    margin: 4px 2px; 
    cursor: pointer;
  } 

  .button-d7a { 
    background: none !important; 
    border: none;
  } 

  .button-d7a:hover { 
    box-shadow: 0 2px 4px 2px rgba(0, 165, 234, 0.4);
  } 

  .button-d7a:hover { 
    background: none;
  } 

  .aco-dct { 
    font-size: 10pt;
  } 

  a { 
    text-decoration: none; 
    color: #1286D4; 
    cursor: pointer; 
    font-weight: 600;
  } 

  a:hover { 
    color: #1D1D1D;
  } 
}     


/* These were inline style tags. Uses id+class to override almost everything */
#bg_-pw4.style-hoRQB {  
   position:fixed;  
   top:0px;  
    height:0px;  
    display:none;  
}  
#bg_-dyi.style-MV9na {  
   position:fixed;  
   top:0px;  
    height:0px;  
    display:none;  
}  
#style-slJQm.style-slJQm {  
   height: 60px;  
}  
#style-43dQF.style-43dQF {  
   width: 156px;  
}  
#box-2nd.style-UfbZ7 {  
   left: 604px;  
}  

*{
  margin: 0;
}

* a{
  text-decoration: none;
  color: #1286D4;
}

* a:hover{
  color: #1D1D1D;
}

header {
  position: fixed;
  top: 0;
  z-index: 9000;
  background-color: rgba(255, 255, 255);
}

header > nav{    
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3vw;
  -webkit-box-shadow: 0px 5px 3px -2px rgba(0,0,0,0.32);
  -moz-box-shadow: 0px 5px 3px -2px rgba(0,0,0,0.32);
  box-shadow: 0px 5px 3px -2px rgba(0,0,0,0.32);
}

header > nav > div#img{    
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  padding-left: 2%;
}

header > nav > div#img > img{
  height: auto;
  width: 75%;
}

header > nav > div#texto{
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;    
  width: 58%;
}

header > nav > div#texto > a{
  padding: 0 1vw;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  display: inline-flex;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

header > nav > div#texto > a:hover{
  color:rgb(252, 130, 42);
}

header > nav > div#iconos{    
  width: 7%;
  padding-right: 1%;
  display: flex;
  align-items: center;
  justify-content:space-around;
}

header > nav > div > img{
  height: auto;
  width: 25%;
}

