*{
    margin: 0;
}

* a{
    text-decoration: none;
    color: #1286D4;
}

* a:hover{
    color: #1D1D1D;
}

header {
    position: fixed;
    top: 0;
    z-index: 9000;
    background-color: rgba(255, 255, 255);
}

header > nav{    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3vw;
    -webkit-box-shadow: 0px 5px 3px -2px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 5px 3px -2px rgba(0,0,0,0.32);
    box-shadow: 0px 5px 3px -2px rgba(0,0,0,0.32);
}

header > nav > div#img{    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    padding-left: 2%;
}

header > nav > div#img > img{
    height: auto;
    width: 75%;
}

header > nav > div#texto{
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;    
    width: 58%;
}

header > nav > div#texto > a{
    padding: 0 1vw;
    cursor: pointer;
    text-decoration: none;
    font-size: 100%;
    display: inline-flex;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

header > nav > div#texto > a:hover{
    color:rgb(252, 130, 42);
}

header > nav > div#iconos{    
    width: 7%;
    padding-right: 1%;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

header > nav > div > img{
    height: auto;
    width: 25%;
}

body{
    font-family: Kanit, Serif;
}

div#sidebar{
    background-color: rgba(255, 255, 255, 0.925);
    letter-spacing: 0.6px;
    position: fixed;
    z-index: 1000;
    height: 100%;
    width: 20%;
    overflow-y: scroll;
    left: 0;
    top: 50px;
    border-right: 1px solid rgba(150, 150, 150, 0.3);
}

div#sidebar > h2{
    background-color: #bcbbba;
    color: #ffffff;
    padding: 5% 0;
    text-align: center;
    font-size: 22pt;
    font-weight: 600;
}

div#sidebar > ul.sidebar-menu{
    list-style: none;
    margin: 0;
    padding: 0;
}

div#sidebar > ul.sidebar-menu > li > a{
    padding: .5em;
    line-height: 40px;
    cursor: pointer;
    display: block;
    color: #1D1D1D;
    font-size: 15pt;
    border-bottom: 1px solid rgba(150, 150, 150, 0.3);
    transition: background-color 0.8s, color 0.5s;
    font-weight: 600;
    text-decoration: none;
    text-decoration-style: solid;
}

div#sidebar > ul.sidebar-menu > li > a:hover{
    color: rgb(196, 29, 29);
    background-color: rgba(208, 208, 208, 0.272);
}